#layout-page-header {
  .reduce-container-height {
    height: 25px;
  }

  @media only screen and (max-width: 1235px) {
    .header-inner {
      padding: 15px 20px;

      &.reduce-container-padding {
        padding: 5px 20px !important;
      }
    }

    .logo {
      height: 55px;
      margin-left: -5.5px;
      .logo-wrapper {
        height: 108px;
        svg {
          width: 132px;
          height: 113px;
        }
      }
    }

    .desktop-nav-bar {
      display: none;
    }

    .mobile-nav-icon,
    .mobile-nav-bar {
      display: block;
    }
  }

  @media only screen and (max-width: 690px) {
    .logo {
      height: 37px;
      margin-left: -4px;
      .logo-wrapper {
        height: 72px;
        svg {
          width: 88px;
          height: 75px;
        }
      }
    }

    .mobile-icon-inner {
      width: 18px;
      row-gap: 6px;
    }

    .mobile-nav-width {
      width: 70%;
    }
  }

  @media only screen and (max-width: 376px) {
    .mobile-nav-width {
      width: 80%;
    }
  }
}

#fixed-header-spacing {
  @media only screen and (max-width: 1235px) {
    height: 135px;
  }
  @media only screen and (max-width: 690px) {
    height: 117px;
  }
}
