@media only screen and (max-width: 1235px) {
  #layout-page-footer .services-container {
    padding: 0 47px;
  }
  #layout-page-footer .services-container .services-list {
    gap: 20px 44px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 690px) {
  #layout-page-footer span {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 456px) {
  #layout-page-footer .services-container {
    padding: 0 10px;
  }
  #layout-page-footer .services-container .services-list {
    display: grid;
    grid-template-columns: 128px 128px;
    column-gap: 20px;
  }
  #layout-page-footer .services-container .services-list > span {
    text-align: center;
  }
}

#layout-page-header .reduce-container-height {
  height: 25px;
}
@media only screen and (max-width: 1235px) {
  #layout-page-header .header-inner {
    padding: 15px 20px;
  }
  #layout-page-header .header-inner.reduce-container-padding {
    padding: 5px 20px !important;
  }
  #layout-page-header .logo {
    height: 55px;
    margin-left: -5.5px;
  }
  #layout-page-header .logo .logo-wrapper {
    height: 108px;
  }
  #layout-page-header .logo .logo-wrapper svg {
    width: 132px;
    height: 113px;
  }
  #layout-page-header .desktop-nav-bar {
    display: none;
  }
  #layout-page-header .mobile-nav-icon,
  #layout-page-header .mobile-nav-bar {
    display: block;
  }
}
@media only screen and (max-width: 690px) {
  #layout-page-header .logo {
    height: 37px;
    margin-left: -4px;
  }
  #layout-page-header .logo .logo-wrapper {
    height: 72px;
  }
  #layout-page-header .logo .logo-wrapper svg {
    width: 88px;
    height: 75px;
  }
  #layout-page-header .mobile-icon-inner {
    width: 18px;
    row-gap: 6px;
  }
  #layout-page-header .mobile-nav-width {
    width: 70%;
  }
}
@media only screen and (max-width: 376px) {
  #layout-page-header .mobile-nav-width {
    width: 80%;
  }
}

@media only screen and (max-width: 1160px) {
  #fixed-header-spacing {
    height: 139px;
  }
}
@media only screen and (max-width: 690px) {
  #fixed-header-spacing {
    height: 119px;
  }
}

@media only screen and (max-width: 1246px) {
  #home-page .layout-grid-container .grid-wrapper {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 1235px) {
  #home-page .layout-grid-container {
    padding: 30px 20px 0;
  }
  #home-page .layout-grid-container .grid-wrapper {
    grid-template-columns: 77.3%;
    justify-content: center;
  }
  #home-page .layout-grid-container .grid-wrapper .hero-text {
    align-items: center;
    text-align: center;
  }
  #home-page .layout-grid-container .grid-wrapper .hero-image-wrapper {
    display: flex;
    justify-content: center;
  }
  #home-page .layout-grid-container .grid-wrapper .hero-image-wrapper .hero-image {
    width: 50%;
  }
}
@media only screen and (max-width: 690px) {
  #home-page .hero-title {
    font-size: 36px;
    line-height: 46px;
  }
  #home-page .hero-description,
  #home-page .hero-button {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 550px) {
  #home-page .layout-grid-container .grid-wrapper {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 350px) {
  #home-page .layout-grid-container {
    padding: 30px 10px 0;
  }
}

#about-us-page .faq-scrollbar {
  scrollbar-color: black transparent;
  scrollbar-width: thin;
}
#about-us-page .faq-question,
#about-us-page .faq-answer,
#about-us-page .faq-question-icon {
  transition: all ease-in 300ms;
}
#about-us-page .open-faq .faq-question {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#about-us-page .open-faq .faq-answer {
  grid-template-rows: 1fr;
  padding: 24.5px 16px 24.5px 23px;
}
#about-us-page .open-faq .faq-question-icon {
  rotate: -45deg;
}
@media only screen and (max-width: 690px) {
  #about-us-page .video-container {
    padding: 27.5px 20px;
  }
  #about-us-page .video-wrapper {
    padding: 13px 15px 16px;
  }
  #about-us-page .ask-form-section {
    padding: 88px 35px 104px;
  }
  #about-us-page .ask-form-section h2 {
    font-size: 32px;
    line-height: 30px;
  }
  #about-us-page .ask-form-section form {
    width: 100%;
  }
  #about-us-page .ask-form-section form input {
    font-size: 14px;
    line-height: 19px;
  }
  #about-us-page .ask-form-section form svg {
    width: 20px;
    height: 17.6px;
  }
  #about-us-page .faq-section {
    padding: 35px 20px 29px;
  }
  #about-us-page .faq-container {
    padding: 11px 25px 54px;
  }
  #about-us-page .faq-section-heading {
    font-size: 32px;
    line-height: 35px;
  }
  #about-us-page .faq-scrollbar {
    overflow-y: visible;
    padding-right: 0px;
    max-height: fit-content;
  }
  #about-us-page .faq-info-heading {
    font-size: 20px;
    line-height: 26px;
  }
  #about-us-page .faq-question {
    display: grid;
    grid-template-columns: auto 19px;
    align-items: center;
  }
  #about-us-page .faq-question-text {
    font-size: 16px;
    line-height: 21px;
  }
  #about-us-page .faq-question-icon {
    width: 19px;
    height: 19px;
  }
  #about-us-page .faq-info-description,
  #about-us-page .answer-content {
    font-size: 12px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 376px) {
  #about-us-page .video-container {
    padding: 27.5px 10px;
  }
  #about-us-page .video-wrapper {
    padding: 8px 10px 11px;
  }
  #about-us-page .ask-form-section {
    padding: 88px 25px 104px;
  }
  #about-us-page .faq-section {
    padding: 35px 10px 0px;
  }
  #about-us-page .faq-container {
    padding: 11px 25px 54px;
  }
  #about-us-page .faq-question {
    padding: 24.5px 11px 24.5px 18px;
  }
  #about-us-page .faq-answer {
    padding: 0px 11px 0px 18px;
  }
}
@media only screen and (max-width: 350px) {
  #about-us-page .ask-form-section {
    padding: 88px 20px 104px;
  }
}

/*# sourceMappingURL=main.css.map */
