#about-us-page {
  .faq-scrollbar {
    scrollbar-color: black transparent;
    scrollbar-width: thin;
  }

  .faq-question,
  .faq-answer,
  .faq-question-icon {
    transition: all ease-in 300ms;
  }

  .open-faq {
    .faq-question {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .faq-answer {
      grid-template-rows: 1fr;
      padding: 24.5px 16px 24.5px 23px;
    }

    .faq-question-icon {
      rotate: -45deg;
    }
  }

  @media only screen and (max-width: 690px) {
    .video-container {
      padding: 27.5px 20px;
    }

    .video-wrapper {
      padding: 13px 15px 16px;
    }

    .ask-form-section {
      padding: 88px 35px 104px;
      h2 {
        font-size: 32px;
        line-height: 30px;
      }

      form {
        width: 100%;

        input {
          font-size: 14px;
          line-height: 19px;
        }

        svg {
          width: 20px;
          height: 17.6px;
        }
      }
    }

    .faq-section {
      padding: 35px 20px 29px;
    }

    .faq-container {
      padding: 11px 25px 54px;
    }

    .faq-section-heading {
      font-size: 32px;
      line-height: 35px;
    }

    .faq-scrollbar {
      overflow-y: visible;
      padding-right: 0px;
      max-height: fit-content;
    }

    .faq-info-heading {
      font-size: 20px;
      line-height: 26px;
    }

    .faq-question {
      display: grid;
      grid-template-columns: auto 19px;
      align-items: center;
    }

    .faq-question-text {
      font-size: 16px;
      line-height: 21px;
    }

    .faq-question-icon {
      width: 19px;
      height: 19px;
    }

    .faq-info-description,
    .answer-content {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @media only screen and (max-width: 376px) {
    .video-container {
      padding: 27.5px 10px;
    }

    .video-wrapper {
      padding: 8px 10px 11px;
    }

    .ask-form-section {
      padding: 88px 25px 104px;
    }

    .faq-section {
      padding: 35px 10px 0px;
    }

    .faq-container {
      padding: 11px 25px 54px;
    }

    .faq-question {
      padding: 24.5px 11px 24.5px 18px;
    }

    .faq-answer {
      padding: 0px 11px 0px 18px;
    }
  }

  @media only screen and (max-width: 350px) {
    .ask-form-section {
      padding: 88px 20px 104px;
    }
  }
}
