{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}" />
{% endblock %}
{% block content %}

    <!-- articles -->
    <main>
      <div class="container-about-page">
        <div class="container-padder">
          <div class="container-articles">
            <h1>HOW CAN WE HELP ?</h1>
          </div>

          <div class="container-input">
            <div class="container-ptch">
              <input type="text" placeholder="Ask Us" class="send-sm" />
              <button class="send-sm"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-faq_">
        <div class="container-faq_padder">
          <div class="container-fluid-items-faq">
            <p class="header-txt">FREQUENTLY ASKED QUESTIONS</p>

            <div class="container-items--">
              <div class="header-txt">
                <strong><p>General Information Section</p></strong>
                <p>
                  This section provides a comprehensive overview of what Boost
                  Promotions offers, who we serve, and how we tailor our
                  services to meet diverse needs.
                </p>
              </div>

              <div class="container-parent-faqs">
                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>

                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-parent-faqs">
                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>

                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-parent-faqs">
                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-items-- -container-second-faq">
              <div class="header-txt">
                <strong><p>General Information Section</p></strong>
                <p>
                  This section provides a comprehensive overview of what Boost
                  Promotions offers, who we serve, and how we tailor our
                  services to meet diverse needs.
                </p>
              </div>

              <div class="container-parent-faqs">
                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>

                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-parent-faqs">
                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>

                <div class="container-fags-qa">
                  <div class="container-padder-qa">
                    <h4>What services does Boost Promotions offer?</h4>

                    <div class="container-a">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Asperiores necessitatibus alias totam doloremque iure
                      repudiandae perspiciatis, delectus error. Aliquam hic
                      nihil et culpa facere explicabo laboriosam id illo aliquid
                      enim.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ---------------  ?ends -->

{% endblock %}
