<!-- chat.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <input id="message" type="text" placeholder="Type a message...">
    <button id="send-button">Send</button>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fQ13X0joK8Ell3s6D7BzziH46xPQukMndY/JimFg=" crossorigin="anonymous"></script>
    <script>
      var socket = io();

      document.getElementById('send-button').addEventListener('click', function() {
        var message = document.getElementById('message').value;
        socket.emit('message', message);
        document.getElementById('message').value = '';
      });

      socket.on('message', function(message) {
        console.log(message);
      });
    </script>
  </body>
</html>