{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

      <!-- MAIN CONTENT -->
      <div class="hero-section flex justify-center">
        <div class="layout-grid-container max-w-[1920px] w-full px-[39px]">
          <div
            class="grid-wrapper grid grid-cols-[42.8%_48.3%] justify-between items-center gap-y-[35px]"
          >
            <div class="hero-text flex flex-col gap-y-[35px]">
              <h2 class="hero-title text-[60px]/[77px]">
                Navigating the digital landscape for success
              </h2>
              <p
                class="hero-description text-[20px]/[28px] font-light w-[93.8%]"
              >
                Welcome to Omni Digitals, your trusted online service partner.
                We provide tailored solutions, including digital marketing,
                branding, and web development, to help your business shine. Our
                team is dedicated to driving your success and delivering
                exceptional results.
              </p>
              <button
                class="hero-button w-fit text-[20px]/[28px] text-white font-light bg-black px-[35px] py-[20px] rounded-[14px]"
              >
                Book a consultation
              </button>
            </div>
            <div class="hero-image-wrapper">
              <img
                src="../static/images/Illustration.png"
                alt="Illustration"
                class="hero-image w-full"
              />
            </div>
          </div>
        </div>
      </div>

{% endblock %}
