{% extends "base.html" %}

{% block title %}Boost Promotions - Home{% endblock %}

{% block content %}
<!-- articles -->
<div class="container-items">
  <div class="container-paddder">
    <div class="left-container">
      <div class="articles">
        <h1>Navigating the digital landscape for Success</h1>
        <p>
          Welcome to Boost Promotions, your trusted online service partner.
          We provide tailored solutions, including digital marketing,
          branding, and web development, to help your business shine. Our
          team is dedicated to driving your success and
        </p>
      </div>

      <!-- container-btn body -->
      <div class="container-btn"><button>Book a consultant</button></div>
    </div>

    <div class="container-right-img">
      <img src="{{ url_for('static', filename='assets/homepageimage.png') }}" alt="homepageimage" />
    </div>
  </div>
</div>
{% endblock %}
