{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}



    <!-- articles -->
    <main class="container-items">
      <div class="container-auth-page">
        <div class="container-auth-page-padder">
          <div class="container-left-auth-page-msg">
            <h1>
              Want to run ads for your business?
              <span>Booost Promotions</span> will help you
            </h1>
                <img src="{{ url_for('static', filename='assets/boostpostlogo.png') }}" alt="boostpostlogo"/>
          </div>

          <!-- form -container -->
          <div class="container-right-form">
            <div class="form-msg">Create Account</div>

            <div class="container-social-phone">
              <a href="#">Sign up with Google</a>
              <a href="#">Sign up with Phone</a>
            </div>

            <div class="container--or"><p>OR</p></div>

            <div class="container-form-main">
              <form action="#" method="post">
                <div class="container-email-input">
                  <input
                    type="text"
                    name="fullname"
                    id="fullname"
                    placeholder="Full Name"
                  />
                </div>

                <div class="container-email-input">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>

                <div class="container-email-input">
                  <input
                    type="tel"
                    name="phoneno"
                    id="phoneno"
                    placeholder="Phone No."
                  />
                </div>

                <div class="container-password-input">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                  />
                </div>

                <div class="container-submit">
                  <button type="submit">Create Account</button>
                </div>

                <span
                  >Already have an account?
                  <a href="./signin.html">Login</a></span
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- articles ends -->


{% endblock %}