:root {
  --white-color: #ffffff;
  --white-smoke: rgb(249, 249, 249);
  --darker-white: rgb(217, 217, 217);
  --darker-white-2: rgb(162, 162, 162);
  --dark-font: rgb(101, 101, 101);
  --blackish-: rgb(39, 39, 39);

  --secondary-color-transparent: rgba(186, 255, 102, 0.2);
  --secondary-color: rgba(185, 255, 102, 1);
  --secondary-color-darker: rgb(127, 179, 63);
}

.container-reveals-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.container-reveals-header span {
  padding-top: 15px;
  color: var(--darker-white-2);
  font-size: smaller;
  cursor: pointer;
}

.container-reveals-header span i {
  color: var(--blackish-);
  font-size: x-small;
}

.container-reveals-header a:focus {
  background: transparent !important;
}

.section-community {
  display: flex;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--white-smoke);
  top: 0;
}

.section-community .container-main-section {
  background-color: var(--white-smoke);
  width: 79.6vw;
  float: right;
  top: 0;
}

.section-community .container-main-section .container-padder-community-page {
  padding: 20px 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community {
  width: 100%;
  height: 50px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community
  a {
  display: block;
  background-color: var(--secondary-color-transparent);
  color: var(--blackish-);
  width: max-content;
  float: left;
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: small;
  text-decoration: none;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community
  a
  i {
  margin-right: 5px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community
  a:hover,
a:focus,
a:active,
a:visited {
  background-color: var(--secondary-color-darker) !important;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community
  a:focus {
  background-color: var(--secondary-color-darker) !important;
}

/* for design dev */
.section-community
  .container-main-section
  .container-padder-community-page
  .container-header-community
  a:first-child {
  background-color: var(--secondary-color-darker);
}
/* ---------------------------------- */

.section-community
  .container-main-section
  .container-padder-community-page
  .container-two-community-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container-- {
  height: 100%;
  width: 70%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder--- {
  padding: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community {
  display: block;
  width: 100%;
  background-color: var(--white-color);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(46, 46, 46, 0.1);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container {
  margin-top: 5%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .community-question-box {
  width: 100%;
  border: 0.1px solid var(--secondary-color-darker);
  border-radius: 20px;
  padding: 8px 20px;
  outline: none;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  textarea {
  width: 100%;
  border: 1px solid var(--secondary-color-darker);
  border-radius: 20px;
  padding: 15px 20px;
  outline: none;
  margin-top: 10px;
  height: 70px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  textarea::placeholder {
  font-size: smaller;
  font-family: "Times New Roman", Times, serif;
  color: var(--blackish-);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-question-input {
  display: flex;
  justify-content: space-between;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-question-input
  .container-img-user-form-profile {
  width: 10%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-question-input
  .usr-question {
  width: 90%;
  padding-top: 5px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  input::placeholder {
  font-size: smaller;
  font-family: "Times New Roman", Times, serif;
  color: var(--blackish-);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form,
.container-right {
  width: 50%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form {
  padding: 0 !important;
  margin: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form
  ul {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form
  ul
  li:not(:first-child) {
  margin-left: 15px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form
  ul
  li
  a {
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-left--form
  ul
  li
  a:hover,
a:focus {
  color: var(--secondary-color-darker);
  background-color: transparent !important;
  border: none;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-right {
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-right
  button {
  margin-left: 10px;
  background: var(--secondary-color-darker);
  border: 1px solid var(--darker-white);
  padding: 8px 15px;
  border-radius: 20px;
  color: var(--white-color);
  height: 38px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-right
  button
  i {
  margin-right: 3px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-right
  button:hover {
  background: var(--secondary-color);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .container-form--community
  .container-bottom-submit-form
  .container-right
  select {
  border: 0.1px solid var(--secondary-color-darker);
  padding: 8px 20px;
  border-radius: 20px;
  outline: 0;
  font-size: small;
  height: 38px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container {
  font-size: 15px;
  margin-top: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container:not(:last-child) {
  margin-bottom: 3%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  article {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-skills,
.container-question-details {
  width: 50%;
  padding: 0;
  margin: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-question-details
  ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: medium;
  padding: 0;
  margin: 0;
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-question-details
  ul
  li
  a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: medium;
  padding: 0;
  margin: 0;
  color: var(--secondary-color-darker);
  display: block;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-question-details
  ul
  li:not(:last-child) {
  margin-right: 15px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-skills
  ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: smaller;
  padding: 0;
  margin: 0;
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-footer-quistion
  .container-skills
  ul
  li:not(:first-child) {
  margin-left: 10%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left,
.container-2-mini-right-navigator {
  width: 50%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left,
.container-2-mini-right-navigator a {
  color: var(--secondary-color);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left,
.container-2-mini-right-navigator {
  display: flex;
  justify-content: right;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left {
  display: flex;
  justify-content: flex-start;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left
  .container-user-details {
  display: block;
  text-align: left;
  margin-left: 10px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  strong {
  color: var(--blackish-);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .description-text {
  color: var(--dark-font);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left
  .container-user-details
  p {
  margin: 0;
  padding: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left
  .container-user-details
  .date {
  font-size: smaller;
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--
  .padder---
  .question-container
  .container-user-details
  .container--1-left
  .container-user-details
  .username {
  color: var(--dark-font);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two {
  height: 100%;
  width: 30%;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder {
  height: 100%;
  width: 100%;
  padding: 20px 15px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items {
  height: max-content;
  padding: 20px 26px;
  width: 100%;
  border: 1px solid var(--white-smoke);
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 3px 5px rgb(46, 46, 46, 0.1);
  background-color: var(--white-color);
}

.-guild-line-terms {
  display: block;
  margin-top: 5%;
}

.-guild-line-terms-1 {
  display: none;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  strong {
  display: block;
  padding: 0;
  border-bottom: 1px solid var(--darker-white);
  margin: 0;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  strong
  p {
  padding: 0;
  margin: 10px;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  ul {
  width: 100%;
  font-size: smaller;
  text-align: left;
  padding: 0;
  padding-left: 15px;
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  ul
  li {
  width: 100%;
  list-style: square;
  text-align: left;
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  ul
  li
  a {
  color: var(--secondary-color-darker);
}

.section-community
  .container-main-section
  .container-padder-community-page
  .container-1-inner-container--two
  .padder
  .container-articles-items
  ul
  li:not(:first-child) {
  margin-top: 10px;
}

/* reveals */
.Reveals {
  color: var(--darker-white-2);
  margin: 0;
  padding: 0;
  margin-top: 3%;
  padding-left: 20px;
}

.container-reveals-header {
  padding-bottom: 10px;
}

.container-reveals-header span {
  padding-right: 20px;
  margin-top: 8px;
}

@media only screen and (max-width: 1048px) {
  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form
    .container-left,
  .container-right {
    width: 100% !important;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form {
    display: block;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form
    .container-right {
    display: flex;
    justify-content: flex-start;
  }

  .section-community .container-main-section {
    background-color: var(--white-smoke);
    width: 100vw;
    left: 0;
    float: right;
    top: 0;
  }
}

/* @media only screen and (max-width: 988px) {
  
} */

@media only screen and (max-width: 768px) {
  .-guild-line-terms {
    display: none;
  }

  .-guild-line-terms-1 {
    display: block;
    margin-top: 0 !important;
  }

  .section-community .container-main-section .container-padder-community-page {
    padding: 5px 20px;
  }

  .section-community .container-main-section {
    background-color: var(--white-smoke);
    width: 100vw;
    left: 0;
    float: right;
    top: 0;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-two-community-container {
    display: block;
    justify-content: space-between;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container-- {
    height: 100%;
    width: 100%;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--two {
    height: 100%;
    margin-top: 0;
    width: 100%;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-header-community {
    width: 100%;
    padding-top: 3%;
  }

  .section-community .container-main-section {
    padding-bottom: 5%;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-question-input
    .usr-question {
    margin-left: 20px;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form
    .container-left,
  .container-right {
    width: 100% !important;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form {
    display: block;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .question-container {
    padding: 25px 30px !important;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .question-container
    .container-footer-quistion
    .container-question-details
    ul {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .question-container
    .container-footer-quistion
    .container-question-details
    ul
    li
    a {
    font-size: small;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .question-container
    .container-footer-quistion {
    display: block;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .question-container
    .container-footer-quistion
    .container-skills,
  .container-question-details {
    width: 100%;
  }

  .container-reveals-header span {
    padding-right: 20px;
    margin-top: 0px;
  }

  .section-community
    .container-main-section
    .container-padder-community-page
    .container-1-inner-container--
    .padder---
    .container-form--community
    .container-bottom-submit-form
    .container-right {
    display: flex;
    justify-content: flex-start;
  }
}
